/* @override 
	http://souschiffre.net/wp-content/themes/souschiffre/css/custom.css
 */

body, button, input, select, textarea {
	font-family: Cardo, "Crimson Text", "Linux Libertine", Georgia, serif;
/*	background: #f5f5f5;*/
/* "Josefin Slab",  "Josefin Sans",  */
}

a {
	color: #00a7fb;
}
/*a:hover {
	color: #5e0505;
	text-shadow: 1px 1px 5px #fddede;
}*/
a:visited {
	color: #00a7fb;	
}

a.unstyled {
	text-decoration: none;
	color: #404040;
	/* defined in base.css, 102 */
}

a:hover.unstyled,
a.unstyled:hover {
	color: #404040;
	text-shadow: none;
}

a .hoverable {
	text-decoration: underline;
	text-shadow: none;
}
a .hoverable,
a .colorable {
	color: #9d0e0e; /* dark red */
	color: #00a7fb; /* blue */
}

a:hover,
a:hover .hoverable,
a:hover .colorable,
.hlist-title .link:hover  {
	color: #007cdc;  /* blue */
/*	text-shadow: 1px 1px 5px #00a7fb;*/
}

.dblock {
	display: block;
}

.hentry {
	margin: 0;
}

.hidden {
	display: none;
}

.jq-hidden {
	display: none;
}
.logged-in .admin-visible {
	display: block;
}

.fullwidth {
	width: 100%;
}

/* @group Typographie */

h1 {
	font-size: 180%;
}
h2 {
	font-size: 120%;
}

h1,h2,h3,h4,h5,h6,
nav,
#secondary,
.entry-meta 
{
/*	font-family: "Arvo", "Josefin Slab", Chivo, "Antic Slab", Arvo, Arial, Sans-serif;*/
	/* "Josefin Slab", Arvo , */
/*	font-weight: 600;*/
		font-weight: 400;
}

.entry-content {
	line-height: 1.35;
	text-indent: 2em;
}
.entry-content p {
	/*margin: 0.5em;*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.entry-content .sans-retrait,
.entry-content p.sans-retrait,
.entry-content .sans-retrait p,
.entry-content p:first-child {
	text-indent: 0;
}

.entry-content .contact-form  {
	text-indent: 0;
	margin-left: 1.2em;
}

.entry-content h2 {
/*	text-indent: 0.5em;*/
	margin-top: 1.1em;
	margin-bottom: 0.6em;
/*	border-bottom: 1px solid #333;*/
/*	display: inline;*/
}

.entry-content img.alignleft {
	display: block;
	border: 1px solid #333;
	margin-left: 2em;
	margin-bottom: 1.4em;
}

.ndash {
	padding: 0 0.2em;
}

.nbsp {
	font-size: 50%;
}

/* @end */

p.simple {
	margin: 0;
}


#page {
	margin: 2em auto;
	padding: 0 2em;
	max-width: 40em;
}

.small-text {
	/* = 14pt */
	font-size: 87.5%;
}

/* @group Site Header */

.site-header {
/*	border: 1px solid #333;*/
/*	min-height: 4em;*/
	border-bottom: 1px solid #333;
	margin-bottom: 1.5em;
	position: relative;
}

.site-header a {
	color: #333;
}

/* @group Souschiffre */

.header-text {
	width: 10em;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline;
	float: left;
	width: 10.7em;
/*	border: 1px solid #1f1;*/
}

.site-title {
	display: inline;
/*	border: 1px solid #333;*/
/*	width: auto;*/
}

.site-title a {
	font-style: italic;
	text-decoration: none;
/*	color: #000;*/
	font-size: 120%;
}

/* @end */

/* @group Navigation */

.navigation-main {
	float: left;
	clear: none;
/*	padding-left: 12em;*/
	margin-top: 0.7em;
	margin-bottom: 1em;
/*	border: 1px solid #303;*/
/*	display: inline;*/
}

.navigation-main a:hover,
.menu-toggle:hover {
	text-decoration: underline;
}

.menu-menu-principal-container {
	margin-left: 10.8em;
/*	border: 1px solid #303;*/
}

#menu-menu-principal li {
/*	border: 1px solid #f00;*/
}

#menu-menu-principal a {
/*	background: #eee;*/
	display: block;
	padding: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.2em;
}

.menu-toggle a:hover {
	
}

.main-small-navigation ul {
	display: block;
}

/* @end */

@media screen and (max-width: 600px) {

	.site-header {
		margin-bottom: 0.7em;
		border-bottom: 2px solid #333;
	}

	h1.site-title,
	.menu-toggle {
		font-size: 120%;
	}
	
	.navigation-main {
		margin-top: 0;
	}

	.menu-toggle {
		display: block;
		float: right;
		clear: none;
/*		margin-top:0;*/
	}
	
	.menu-menu-principal-container {
		margin-left: 0;
	}
	
	#menu-menu-principal {
		margin-bottom: 0;
	}
	
	.nav-menu {
		margin-top: 1em;
		float: left;
/*		border: 1px solid #333;*/
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		border-top: 2px solid #333;
		border-bottom: 0px solid #333;
	}
	
	.nav-menu li {
/*		border: 1px solid #333;*/
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		display: block;
		font-size: 120%;
	}
	
	.nav-menu a {
		display: block;
		border-bottom: 2px solid #333;
		padding: 0.3em 0.6em;
		text-decoration: none;
	}
	
	.nav-menu li:last-of-type a {
		border-bottom: 0px solid #333;
	}
	
	.nav-menu a:hover {
		background: #ddd;
		text-decoration: underline;
	}
 
}

/* in base.css 

.menu-toggle {
	display: none;
	cursor: pointer;
}

.main-small-navigation ul {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-small-navigation ul.nav-menu.toggled-on {
		display: block;
	}

	.navigation-main ul {
		display: none;
	}
}

*/


/* @end */

/* @group Secondary */

.secondary-area {
	border-top: 1px solid #333;
	padding-top: 1.5em;
	margin-top: 1.5em;
}

.tagcloud a {
	font-size: 100% !important;
	padding: 0.1em 0.4em;
	display: block;
	float: left;
	background: #aaa;
	margin: 0.2em;
	color: #fff;
	text-decoration: none;
	text-shadow: 0;
	border-radius: 3px;
}
.tagcloud a:hover {
	background-color: #555;
	background-color: #0879d0;
	text-shadow: 0;
}



.cloud-title {
	float: left;
	display: block;
	padding: 0.3em 0.5em 0.3em 0em;
}

.search-no-results #search-2 {
	display: none;
}
.search-no-results #secondary {
	margin-top: 1em;
}

/* @end */

/* @group Home */

.upcoming {
/*	border: 1px solid #333;*/
	margin-bottom: 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #000;
}

.hlist-item {
	margin: 1em 0 1em 0;
	background: #888;
	min-height: 8em;
}

.hlist-item img {
	display: block;
}

.hlist-title {
	position: absolute;
	background: #fff;
	margin: 0.7em 0 0 0.7em;
	padding: 0.3em 0.5em 0.1em 0.5em;
	min-width: 8em;
}

.hlist-title .link {
	border-bottom: 2px solid;
	margin-bottom: 0.4em;
	display: block;
}

.hlist-title .link:hover {
/*	color: #9d0e0e;*/
/*	text-shadow: 1px 1px 15px #d4d3d3;*/
}

.home .secondary-area {
	margin-top: 0.5em;
}

/* @end */

/* @group Entry-Header */

.entry-header {
	position: relative;
/*	border: 1px solid #333;*/
}

.entry-header img {
	width: 100%;
	height: auto;
	display: block;
	min-height: 8em;
	background: #777;
}

.entry-header {
	margin-left: 0.6em;
}

.featured-img,
.featured-img.entry-header {
	margin-left: 0;
	margin-bottom: 1.4em;
}

.featured-img .date-n-title {
	position: absolute;
	top: 1em;
	left: 1em;
	background: #fff;
	padding: 0.5em 0.8em;
}

.date-n-title .entry-title {
	border-bottom: 2px solid #333;
}

.sub-with-master .entry-title {
	border-bottom: 0px;
}

.date-n-title .entry-meta {
	margin-top: 0.5em;
}

/* @end */

.entry-content,
.entry-summary {
    margin: 0.5em 0 0;
}

.entry-content-main {
	padding-left: 0.6em;
}

.entry-content p:last-of-type {
	margin-bottom: 0.5em;
}

.entry-footer {
	border: 0px solid #333;
	padding: 0em 0em 1em 0em;
	margin-bottom: 0;
}

.tagcloud {
	padding-top: 1px;
}

.entry-footer .rel {
	clear: left;
}

/* @group Vimeo Stuff */

/*
inspiration: 
http://blog.jon.sh/responsive-youtube-vimeo-embed-and-html5-video-with-css
*/

.vimeo-block {
	border: 1px solid #333;
	padding: 1em;
	margin-bottom: 1em;
}

.vimeo-container {
 	position: relative;
	border: 0px solid #333;
	padding-top: 0;
	padding-bottom: 56.25%; /* 16:9 ratio */
	background-size: 100% auto ;
	background-position: 0 0;
	display: block;
	margin: 0;
}

.vimeo-placeholder {
	border: 0px solid red;
	background-image: url(../img/vimeo/arrow-vimeo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.vimeo-placeholder,
.vimeo-container iframe {
		top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  display: block;
}

/* @end */

.vimeo-play-icon {
	background-image: url(../img/vimeo/arrow-vimeo.png);
	width: 100%;
	height: 100%;
	position: absolute;
	top:  0;
	left: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) { 
  .vimeo-play-icon {
  	    background-image: url(../img/vimeo/arrow-vimeo-large.png);
  	    background-size: 41px 39px;
}}

.archive-main {
	margin: 1em 0;
}

.archive-main .entry-meta,
.archive-main h2 {
	margin-left: 1em;
}

.img-gallery {
/*	border: 1px solid #333;*/
/*	margin-top: 1.2em;*/
}

.img-gallery .sub-article {
	margin-bottom: 1.2em;
	margin-left: 0;
	padding-left: 0;
	float: left;
}

.img-gl-itm {
	display: block;
	margin: 0.3em 0.6em 0.3em 0em;
	float: left;
	border: 1px solid #333;
/*	background: #333;*/
}

.img-gl-itm img {
	display: block;
	opacity: 0.85;
	
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.img-gl-itm a:hover img,
.img-gl-itm img:hover{
	opacity: 1;
}

img.gallery-preview {
	width: 25px;
	display: inline;
	border: 1px solid #333;
	margin: 0 5px;
	vertical-align: text-bottom;
	opacity: 0.8;
}

.sub-header a.unstyled2:hover {
	text-decoration: none;
}
.sub-header a:hover .hoverable2 {
	text-decoration: underline;
}

.linked-pages {
	
/*	padding-top: 0.6em;*/
}

.alternate-content {
/*	border-top: 2px solid #333;*/
	margin-top: 1.0em;
	margin-bottom: 1.5em;	
	border-bottom: 2px solid #333;
}

.sub-with-master .alternate-content {
	border-top: 0px;
	margin-top: 0;
	margin-bottom: 0;
}

.sub-content {
/*	border-bottom: 2px solid #333;*/
	border-top: 2px solid #333;
}

.sub-header {
	
	text-indent: 0.6em;
}

h2.sub-header-h2 {
	font-size: 120%;
	margin-top: 0;
	margin-bottom: 0;
}

.sub-header a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0.4em 0em;
}
.sub-header a:hover {
	text-decoration: underline;
		
	}
.sub-header a:hover,
.sub-header-open {
	background-color: #e6e6e6;
}

.sub-article {
	margin: 1.2em 0em;
	padding-left: 0.6em;
}

.video-gallery .sub-article {
	padding-left: 0;
}

.video-gallery .vid-legende {
	padding-left: 0.6em;
	margin-top: 1.3em;
}

.video-gallery .vid-description {
		max-width: 32em;
}

.tagcloud a[rel="category tag"]
 {
	background-color: #0f9de5;
}
.tagcloud a[rel="category tag"]:hover {
	background-color: #0879d0;
}

/*.lieux-actifs a {
	background-color: #0f9de5;
}
.lieux-actifs a:hover {
	background-color: #0879d0;
}*/

.liste-lieux {
	margin: 0;
	padding-top: 0.4em;
}

.liste-lieux .h3 {
	font-weight: bold;
	font-size: 120%;
	margin: 1em 0 1em 0;
	padding: 1em 0 0 0;
	border-top: 2px solid #333;
}

.tagcloud .keywords {
 clear: left;	
}


/* @group Archive List */

/* .archive-item == key LEGO block! */

.archive-item {	
/*	background: #0f0;	*/
	position: relative;
	min-height: 8em;
	margin: 1em 0;
}

.archive-item h1 {
	line-height: 1.1;
	margin: 0.1em 0.1em 0.4em 0.1em;
	
}
.archive-item h1 .hoverable {
	text-decoration: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	text-decoration: none;
}

.archive-item .entry-header {
	float: left;
	position: absolute;
	z-index: 20;
	background: #fff;
	margin: 1em 1em 0em 1em;
	padding: 0.6em 0.6em 0.4em 0.6em;
}

.archive-item .entry-meta {
	margin-left: 0.2em;
	margin-top: 0.8em;
	margin-bottom: 0;
}

.archive-item-img {
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: auto;
	
}

.archive-item {
	max-height: 250px;
	overflow: hidden;
}

body.archive .footerblocks {
	margin-top: 0.5em;
}

/* @end */

/* @group Footer */


.footerblocks {
	border-top: 1px solid #333;
	margin-top: 1.5em;
}

.no-bio #footerblock-1 {
	border-top: 0px;
	margin-top: 0px;
}

.author-bio {
	
}

.short-bio-container {
/*	border-top: 1px solid #333;*/
/*	margin-top: 1.5em;*/
	padding-top: 1.5em;
}

.author-bio .vcard {
	float: right;
	width: 50%;
}

.author-bio .avatar {
	display: block;
	float: left;
	width: 45%;
	height: auto;
	border: 1px solid #333;
}

.more-info a {
	font-style: italic;
	background: #eee;
	display: block;
	float: left;
	padding: 0.1em 0.4em;
	color: #333;
}

.more-info a:hover {
	background: #ccc;
}

.social-networks {
/*	float: right;*/
	clear: left;
}

.social-networks ul {
	margin-left: 0;
	padding-top: 1.0em;
}

.social-networks li {
	float: left;
	list-style: none;
/*	border: 1px solid #333;*/
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 10px 0 0;
}

.social-networks a {
	background-color: transparent;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/icons/sprites.png');
	background-position: 0 0;
	opacity: 0.25;
	
	 -webkit-transition: opacity 0.3s ease;
	     -moz-transition: opacity 0.3s ease;
	     -o-transition: opacity 0.3s ease;
	     -ms-transition: opacity 0.3s ease;
	     transition: opacity 0.3s ease;
}

.link-facebook a {
	background-position: 0px 0px;
}
.link-rss a {
	background-position: 160px 0;
}
.link-vimeo a {
	background-position: 96px 0;
}
.link-linkedin a {
	background-position: 32px 0;
}

.social-networks a:hover {
	opacity: 1;
}

.footer-upcoming {
	border-top: 1px solid #333;
	margin-top: 1.1em;
	padding-top: 1.5em;
}

#wysija-3 {
	border-bottom: 1px solid #333;
	margin-right: 0px;
	padding-right: 0px;
	width: 100%;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.wysija-msg ul {
	list-style: none;
}

.widget_wysija .wysija-paragraph {
	margin-bottom: 0em;
}
.wysija-required {
	color: #00a7fb;
}
.wysija-paragraph label {
	margin-bottom: 0.4em;
}
.widget_wysija_cont .wysija-submit {
	margin-top: 1em;
}

/* @end */


/* @group ColorBox */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{
	position:relative;
	}
#cboxLoadedContent{
	overflow:auto;
	}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, 
#cboxLoadingGraphic {
	position:absolute; 
	top:0; left:0; 
	width:100%; height:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
		#cboxOverlay{
			background-color: rgba(255, 255, 255, 0.8);
		/*	background-color: rgba(0, 0, 0, 0.7);*/
		}

		#colorbox{}
    #cboxContent{
    		margin-top:32px;
    		margin-top:0px; 
    		overflow:visible;
    }
    
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        
        #cboxLoadedContent{
					padding:1px;
					background-color: rgba(0, 0, 0, 0.85);
					background-color: #000;
					background-color: #222;
			}
        #cboxLoadingGraphic{
        	background:url(../img/colorbox/loading.gif) no-repeat center center;
        	}
        #cboxLoadingOverlay{
        	background-color: rgba(0, 0, 0, 0.85);
        }
        
        /* Hide stuff while loading */
        
        #cboxClose {
        	display: none;
        }
        #cboxPageTitle {
        	display: none;
        }
        /* 
         *	note: those item are made visible by jQuery, 
         *	with onComplete:function() 
         */
                
        #cboxPageTitle,
        #cboxTitle,
        #cboxCurrent {
        	color: #fff;
        	font-size: 180%;
					background-color: rgba(34, 34, 34, 0.72);
					position:absolute; 
        	left: 0.7em; 
/*        	border-radius: 0.3em;*/
        	/*left: 0em;*/
        }
        
        #cboxPageTitle{
        /*          top:-22px;*/
           top: 0.1em; 
           top: 0.7em; 
           padding: 0.1em 0.4em;
           display: none !important;
        }
 
         #cboxCurrent{
 	        bottom: 0.7em;
/* 	        border: 1px solid #0f0; */
 	        padding: 0.1em 0.5em 0.1em 0.5em;
/* 					min-width: 6.4em;*/
/* 					background-color: rgba(0, 0, 0, 0.31);*/

			/* OldStyle figures */
				-moz-font-feature-settings:"pnum=1,onum=1";
				
         }
        
        #cboxTitle{
	        /*position:absolute; 
	        bottom: 1em; 
	        left: 1em; 
	        padding: 0.1em 0.5em 0.1em 7.2em;
	        */
	      }
	      
        #cboxSlideshow, 
        #cboxPrevious, 
        #cboxNext, 
        #cboxClose{
	        text-indent:-9999px; 
	        width:20px; 
	        height:20px; 
	        position:absolute; 
	        top:-20px; 
	        background:url(../img/colorbox/controls.png) no-repeat 0 0;
	        
	       /* -webkit-transition: opacity 0.3s ease;
	            -moz-transition: opacity 0.3s ease;
	            -o-transition: opacity 0.3s ease;
	            -ms-transition: opacity 0.3s ease;
	            transition: opacity 0.3s ease;*/
	            
          -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease;
	      }
	      
	      #cboxPrevious,
	      #cboxNext {
	      	width: 188px;
	      	height: 50%;
	      	min-height: 110px;
	      	top:  25%;
	      	opacity: 1;
	      	opacity: 0.5;
/*	      	border: 1px solid #333;*/
	      }
	      
	      #cboxPrevious:hover,
	      #cboxNext:hover
	      {
/*        	background-position:0px -25px;*/
	         opacity: 1;
	         /* 10px wider */
	         width: 198px;
	      }
        
        #cboxPrevious {
/*        	right:44px;*/
        	left: 10px;
        	background:url(../img/colorbox/arrow-left.png) no-repeat 0 0;
        	background-position: left 50%;
        }
                
        #cboxPrevious:hover {
        	left: 0px;
        }
        
        #cboxNext{
        	/*background-position:-25px 0px; right:22px;*/
        	right: 10px;
        	background:url(../img/colorbox/arrow-right.png) no-repeat 0 0;
        	background-position: right 50%;
        }
        #cboxNext:hover{
/*        background-position:-25px -25px;*/
					right: 0px;
        }
        
        #cboxPrevious,
        #cboxNext  {
        	background-size: 55px 80px;
        	/*background-size: auto auto;*/
        }
        /* original: 110 x 184 */
        
                
        #cboxClose{
        /*background-position:-50px 0px; 
        right:0;*/
	        top:  0.1em;
	        right: 0.1em;
	        background:url(../img/colorbox/close-button-121.png) no-repeat right top;
	        width: 124px;
	        height: 124px;
	        opacity: 0.6;
/*	        border: 1px solid #0f0;*/
        }
        #cboxClose:hover{
        	/*background-position:-50px -25px;*/
        	opacity: 1;
        }
        
         
        
        #cboxClose.vimeo-close {
        	right: 40px;
        }
        
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 144dpi) { 
          #cboxPrevious {
          	    /*background-image: url(../img/colorbox/arrow-left@2x.png);
          	    background-size: 108px 184px;*/
        	}
        	#cboxNext {
        		    /*background-image: url(../img/colorbox/arrow-right@2x.png);
        		    background-size: 110px 184px;*/
        	}
        	#cboxClose {
        		    /*background-image: url(../img/colorbox/close-button-121-2x.png);
        		    background-size: 120px 118px;*/
        	}
        	#cboxClose {
        		background-size: 60px 60px;
        		width: 60px;
        		height: 60px;
        		top:  0;
        		right: 0;
        	}
        	#cboxCurrent {
        		font-size: 100%;
        	}
        }
        
        
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
        
        /* other style */
        
/* @end */

/* @group Contact Form */

.contact-form input[type="radio"], 
.contact-form input[type="checkbox"] {
margin-right: 5px;
}

/* @end */

/* @group Media Queries */

/* Small screens ----------- */
@media screen and (max-width: 600px) {
		#page {
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
}


/* Medium and large screens ----------- */
@media only screen and (min-width : 800px) {
	#page {
		max-width: 46em;
		/* 16pt * 112.5% = 18pt */
		font-size: 112.5%; 
	}
	
	.small-text {
		/* = 14pt */
		font-size: 83.3333333%;
	}
	
	.shift-left {
		width: 50%;
		float: left;
		clear: none;
		padding-right: 15px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.shift-right {
		width: 50%;
		float: right;
		clear: none;
		padding-left: 15px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.footer-upcoming {
		padding-top: 0.8em;
		padding-bottom: 0.5em;
	}
	
	#footerblock-1 {
		padding-top: 0.8em;
		border-top: 0px;
		margin-top: 0px;
	}
	
	#footerblock-2 {
		margin-top: 0.5em;
	}
	
	.no-bio #footerblock-2 {
		border-top:  0px;
		margin-top: 0px;
	}
	
	#cboxPrevious,
	#cboxNext  {
  	background-size: auto auto;
  }

} /* @media Large Screens */
 
#footerblock-2 {
	padding-right: 0px;
	padding-top: 0.75em;
}


/* @end */

/* @group Print Styles */

/* ==|== print styles ==================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
================== */
 
@media print {

		
		#top-header,
		.top-header {
		min-height: 1em;
		margin-bottom: 0;
		padding: 0;
		}
		
		.site-title {
			font-size: 24pt;
			left: 0px;
		}
		
		#top-header h1,
		.navigation-container, .lien-head,
		.main-menu,
		#search-nav,
		.vimeo-frame,
		.print-pdf,
		.close-button,
		.page-footer,
		.no-print
		{
			display: none;
		}
		
		.width-limit,
		.main,
		.post .article-text,
		.main-text-area {
			max-width: 100%;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
		
		#main article .small-font {
			font-size: 11pt;
		}
		
		.underlined {
			text-decoration: none !important;
		}
		
		* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
		/*a, a:visited { text-decoration: underline; }*/
		
		abbr[title]:after { content: " (" attr(title) ")"; }
		
		.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
		pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
		thead { display: table-header-group; } /* h5bp.com/t */
		tr, img { page-break-inside: avoid; }
		img { max-width: 100% !important; }
		@page { margin: 0.5cm; }
		p, h2, h3 { orphans: 3; widows: 3; }
		h2, h3 { page-break-after: avoid; }
  
}

/* @end */

/* end of CSS Document */