.icon-facebook,.icon-feed,.icon-vimeo2,.icon-linkedin {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-facebook {
	background-position: 0 0;
}
.icon-feed {
	background-position: -64px 0;
}
.icon-vimeo2 {
	background-position: -128px 0;
}
.icon-linkedin {
	background-position: -192px 0;
}
