/* @group Fonts
 */


/* @end */


/* hide some stuff */
#wp-admin-bar-comments,
  #wp-admin-bar-new-link,
  #wp-admin-bar-new-media,
  #wp-admin-bar-new-user,
  #menu-comments,
  #menu-links
  {display:none}
  
  
.wp-editor-container .wp-editor-area{
  /*font-family: karmillaregular, Karla, "Droid Sans";
  font-size: 120%;*/
  }
  
.wp-editor-container .wp-editor-area strong,
.wp-editor-container .wp-editor-area b {
  /*font-family: karmillabold, Karla, "Droid Sans";
  font-weight: normal;*/
  }
  
#poststuff #titlewrap {
  /*font-family: karmillaregular, Karla, "Droid Sans";*/
  }
  
#taxonomy-reglages #reglages-adder {	
	display: none;
}

/*#tinymce img.wpGallery {
  border: 1px dashed rgb(136, 136, 136);
  background: url("img/gallery.png") no-repeat scroll center center rgb(242, 248, 255);
  width: 99%;
  height: 250px;
}*/

.mem-repeat-timestamp {
	display: none !important;
}

.mem-timestamp-wrap input {
	font-size: 12px;
}


/* Jetpack Improvement */
.toplevel_page_jetpack .update-plugins {
	display: none;
}


#sticky-span { 
	display: none !important; 
}

#postexcerpt .inside p {
	display: none;
}

#commentstatusdiv label[for="ping_status"] {
	display: none;
}


/* Hide some File Gallery Settings */
/* ******************************* */

.media-sidebar label[data-setting="description"],
.media-sidebar label[data-setting="title"],
.media-sidebar .attachment-display-settings 
{
/*    display:none;*/
}

#media-single-form tr.post_content,
#media-single-form tr.post_title {
/*	display: none;*/
}




/* @group Styling for ACF plugin */


.acf-gallery .thumbnails  {
	min-height: 150px;
}

#acf_190 {
}

#acf-acf_lien_externe_bloc {
	padding-bottom: 1px;
}

#acf-bloc_galeries_photos > p.label {
	display: none;
}

#acf-bloc_galeries_photos .field_type-textarea textarea.textarea {
	min-height: 80px;
	height: 80px;
}

.repeater > table > tbody > tr > td.order,
table.acf_input tbody tr td.label,
.repeater > table > tbody > tr > td.remove {
	background: #fff;
}

.field_type-repeater  table.acf-input-table {
/*    border: 1px solid #DDDDDD;*/
}

.field_type-repeater .empty table.acf-input-table {
    border: 0px;
}

.field_type-repeater table.acf_input tbody tr td.label {
	vertical-align: middle;
	/*display: none;*/
}

.field_type-repeater table.acf_input tbody tr td.label label {
	font-size: 100%;
	margin: 0;
}



/*.tablenav select[name="m"] {
	width: auto;
}
      
#view-post-btn {
		display:none;
}*/


  
