/* @group Fonts
 */

/* @end */


/* hide some stuff */

body#tinymce.wp-editor p {
  text-indent: 2em;
}

body#tinymce.wp-editor p.sans-retrait,
body#tinymce.wp-editor .sans-retrait p,
body#tinymce.wp-editor p:first-child {
	text-indent: 0;
}
  
body#tinymce.wp-editor {
  /*font-family: karmillaregular, Karla, "Droid Sans";
  font-size: 87.5%;*/
  }
  
body#tinymce.wp-editor strong,
body#tinymce.wp-editor b {
  /*font-family: karmillabold, Karla, "Droid Sans";
  font-weight: normal;*/
  }

body#tinymce.wp-editor a {
    /*color: #4CA6CF;*/
}

body#tinymce.wp-editor .grand-texte {
    /*color: #4CA6CF;*/
    font-size: 120%;
    line-height: 1.2;
}

body#tinymce.wp-editor .texte-neg {
	color: #fff;
	background: #333;
	font-family: karmillabold, Karla, "Droid Sans";
	font-weight: normal;
}



body#tinymce.wp-editor .boite-infos {
	border: 2px solid #333;
	padding: 0 1em;
}

body#tinymce.wp-editor blockquote {
	padding: 0em 1.5em;
	font-size: 118%;
	color: #666;
	font-style: italic;
}

body#tinymce.wp-editor blockquote p {
	padding: 0;
	margin: 0.7em 0;
}


body#tinymce.wp-editor p {
	/*padding: 0.2em 0.2em;*/
}

body#tinymce p img.wpGallery, 
body#tinymce img.wpGallery, 
img.wpGallery {
  background: url("/wp-includes/js/tinymce/themes/advanced/skins/wp_theme/img/gallery.png") no-repeat scroll center center #F2F8FF;
  width: 95%;
  height: 250px;
  border: 1px dashed #888888;
}

/* ... */